body{
    background: white;
}

.product_title {
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 10px;
    letter-spacing: .2em;
}

.product_text {
    padding-right: 20px;
}

.cart_table {
    min-width: 400px;
    font-size: 14px;
}

.cart_tread {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #fff;
}

.cart_icon {
    text-decoration: none;
    color: rgb(110, 103, 103);
}

.stripe-button-el {
  width: 100% !important;
  display: block !important;
  background-color: #216ab3 !important;
  margin-bottom: 5px;
}

.stripe-button-el span {
  height: 36px !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
}

.errorlist li {
  color: red;
  font-weight: bold;
}

.custom_div {
  margin-bottom: 20px !important;
}