{% extends 'base.html' %}
{% load static %}
{% block title %}
Cart
{% endblock %}
{% block content %}
{% if not cart_items %}

<div class="text-center">
    <br>
    <h1 class="text-center product_title">
        Cart is empty
    </h1>
    <br>
    <p class="text-center">
    Click <a href="{% url 'home' %}">here</a> to start shopping
    </p>
</div>

{% else %}


<div class="text-center">
</br>
    <div class="text-center product_title">
        Your Cart Items
    </div>
</div>
<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table cart_table">
            <thead class="cart_tread">
                <tr>
                    <th colspan="4">
                     Cart Items 
                    </th>
                </tr>
            </thead>
            {% for cart_item in cart_items %}
                <tr>
                    <td>
                        <a href="cart_item.product.get_url">
                            <img src="{{cart_item.product.image.url}}" width="100" height="120" alt="">
                        </a>
                    </td>
                    <td class="text-left">
                    {{cart_item.product.name}}
                    <br>
                    {{cart_item.product.id}}
                    <br>
                    €{{cart_item.product.price}}
                    <br>
                    {{cart_item.quantity}} * {{cart_item.product.price}}
                    </td>
                    <td>
                    {{cart_item.sub_total}}
                    </td>
                    {% if cart_item.quantity < cart_item.product.stock %}
                    <td>
                        <a href="{% url 'add_cart' cart_item.product.id %}"><i class="fas fa-plus cart_icon"></i></a>
                        <a href="{% url 'cart_remove' cart_item.product.id %}"><i class="fas fa-minus cart_icon"></i></a>
                        <a href="{% url 'cart_remove_product' cart_item.product.id %}"><i class="fas fa-trash cart_icon"></i></a>
                    </td>
                    {% else %}
                        <a href="{% url 'cart_remove' cart_item.product.id %}"><i class="fas fa-minus cart_icon"></i></a>
                        <a href="{% url 'cart_remove_product' cart_item.product.id %}"><i class="fas fa-trash cart_icon"></i></a>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table cart_table">
            <thead class="cart_tread">
                <tr>
                    <th colspan="4">
                        Checkout
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Review cart before continuing
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        Total: <strong>{{total}}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="auto-max">
            <a href="{% url 'home' %}" style="text-decoration: none;">
                <button type="button" class="btn btn-lg btn-block bg-dark text-white">Continue Shopping?</button>
                <button type="button" class="btn btn-lg btn-block bg-dark text-white">Checkout</button>
            </a>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}